<div class="container w-100 landing-container">
  <div class="row row-items">
    <div class="col-md-6">
      <mat-card class="card-container">
        <div class="text-center">
          <img
            src="../../../assets/add.jpg"
            alt="add"
            height="100"
            width="100"
          />
        </div>
        <mat-card-content class="text-center mt-2">
          Click below to add new sales details.
        </mat-card-content>
        <div class="text-center mt-2">
          <button mat-raised-button color="primary" [routerLink]="'/add-sales'">
            Add
          </button>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="card-container">
        <div class="text-center">
          <img
            src="../../../assets/search.jpg"
            alt="search"
            height="100"
            width="100"
          />
        </div>
        <mat-card-content class="text-center mt-2">
          Click below to search sales details.
        </mat-card-content>
        <div class="text-center mt-2">
          <button mat-raised-button color="primary" [routerLink]="'/search'">
            Search
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
