<p>
  <mat-toolbar>
    <span [routerLink]="'/'" class="logo">Enterprise Car Company</span>
  </mat-toolbar>
</p>
<!-- <router-outlet></router-outlet> -->
<div class="pb-4 feature-container">
  <!-- <app-add-details></app-add-details> -->
  <router-outlet></router-outlet>
  <!-- <app-landing></app-landing> -->
</div>
<div class="footer position-fixed w-100 text-center mt-2">
  <footer>
    Created as part of Case study by
    <a
      class="social-link"
      href="https://in.linkedin.com/in/utkarsh-raj-003a88179"
      target="blank"
    >
      Utkarsh Raj
    </a>
  </footer>
</div>
